.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
include/
lib/
bin/
migration/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
.Python
.bin/
pip-selfcheck.json
scotch_configure.sh